.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}
.wide-nav {
  display: block;
}
@media only screen and (max-width:800px) {
  .wide-nav {
    display: none;
  }
}
.box {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .block {
      display: block;
      float: left;
      width: 24.9%;
      vertical-align: top;
      margin: 0 -50px
  }
  #column1 {
    width: 60%;
  }
}
/* Profile Pic side by side with name */
@media screen and (max-width: 899px) {
  .block {
      display: block;
  }
  #column1 {
    width: 100%;
    margin-right: 30px;
    overflow: visible;
    text-overflow: ellipsis;
  }
  .column {
    width: 80vw;
  }
}
.column {
  float: right;
  height: 470px;
  width: 50vw;
  padding: 0 10;
}
#pfpandname {
  float: center;
}
